{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "standard"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "warnOnUnsupportedTypeScriptVersion": false,
    "project": [
      "./tsconfig.json"
    ],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-void": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "prefer-promise-reject-errors": "error",
    "promise/param-names": "off",
    "no-trailing-spaces": "off",
    "no-multiple-empty-lines": "off",
    "no-return-assign": "off",
    "spaced-comment": "off",
    "key-spacing": [
      "error",
      {
        "afterColon": true
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "quote-props": "off",
    "camelcase": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": false
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "eqeqeq": "off",
    "no-empty": "off",
    "no-useless-return": "off",
    "no-unreachable": "off",
    "prefer-const": "off",
    "space-in-parens": [
      "error",
      "never"
    ]
  },
  "ignorePatterns": [
    "./dist/**/*",
    "./external/**/*"
  ]
}
